{
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "endOfLine": "auto",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "embeddedLanguageFormatting": "auto",
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./tailwind.config.ts",
  "tailwindFunctions": ["cn", "clsx"],
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^react/",
    "^next/",
    "^@?\\w",
    "^@/types",
    "^@/lib",
    "^@/hooks",
    "^@/components/ui",
    "^@/components",
    "^@/app",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
